html, body{
    background-color:hsl(250, 89%, 62%);
    height: 100%;
}


.input-content{
    background-color: rgb(236, 44, 44);
    width: 900px;
    height: 1000px;
    }

.birth-input{
    display: inline-flex;
}